@import '_fonts.scss';
@import '_variables.scss';
a{
    color: white;
    transition: .5s;
    text-decoration: none;
    &:visited{
        color: white;
    }
    &:focus{
        outline: none;
    }
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

button{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    &:hover{
        cursor: pointer;
    }
}

.wrapper{
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background: url('img/header/header-background.png');
    font-family: 'Open Sans', sans-serif;
    min-height: 779px;
}

.topbar{
    display: flex;
    align-items: center;
    color: white;
    padding-top: 20px;
    line-height: 60px;
    .topbar-logo{
        display: inherit;
        align-items: inherit;
        flex: 1 0 auto;
        span{
            margin-left: 15px;
            font-size: 32px;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
        }
    }
    .topbar-navigation > ul{
        display: flex;
        align-items: center;
        font-size: 23px;
        & > li{
            display: inherit;
            padding: 0px 7px;
            &:not(:first-child){
                margin-left: 47px;
            }
            & > a > button{
                padding: 10px 22px;
                border: 2px solid $main-orange;
            }
            & > a > svg{
                display: flex;
            }
        }
    }
}

.donate{
    margin-top: 120px;
    h1{
        font-size: 48px;
        color: $main-orange;
        letter-spacing: 2px;
        line-height: 72px;
        font-weight: 400;
    }
    .donate-description{
        margin-top: 50px;
        max-width: 275px;
        font-size: 18px;
        line-height: 27px;
        color: white;
    }
    a > button{
        margin-top: 30px;
        padding: 17px 41px;
        background-color: $main-orange;
        font-size: 23px;
    }
}