@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
a {
  color: white;
  transition: 0.5s;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
button:hover {
  cursor: pointer;
}

.wrapper {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: url("img/header/header-background.png");
  font-family: "Open Sans", sans-serif;
  min-height: 779px;
}

.topbar {
  display: flex;
  align-items: center;
  color: white;
  padding-top: 20px;
  line-height: 60px;
}
.topbar .topbar-logo {
  display: inherit;
  align-items: inherit;
  flex: 1 0 auto;
}
.topbar .topbar-logo span {
  margin-left: 15px;
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.topbar .topbar-navigation > ul {
  display: flex;
  align-items: center;
  font-size: 23px;
}
.topbar .topbar-navigation > ul > li {
  display: inherit;
  padding: 0px 7px;
}
.topbar .topbar-navigation > ul > li:not(:first-child) {
  margin-left: 47px;
}
.topbar .topbar-navigation > ul > li > a > button {
  padding: 10px 22px;
  border: 2px solid #CD6326;
}
.topbar .topbar-navigation > ul > li > a > svg {
  display: flex;
}

.donate {
  margin-top: 120px;
}
.donate h1 {
  font-size: 48px;
  color: #CD6326;
  letter-spacing: 2px;
  line-height: 72px;
  font-weight: 400;
}
.donate .donate-description {
  margin-top: 50px;
  max-width: 275px;
  font-size: 18px;
  line-height: 27px;
  color: white;
}
.donate a > button {
  margin-top: 30px;
  padding: 17px 41px;
  background-color: #CD6326;
  font-size: 23px;
}

/*# sourceMappingURL=stylesheets.css.map */
